@font-face {
    font-family: SF;
    src: url(SF-Pro.otf);
}

h1 {
    font-family: SF;
    color: white;
    text-align: center;
    padding: 10px;
}

h2 {
    font-family: SF;
    color: white;
    text-align: center;
    padding: 10px;
}

body {
    font-family: SF;
    font-size: 28px;
    text-align: center;
    background-color: black;
}

p {
    font-family: SF;
    font-size: 28px;
    color: white;
}

.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 5px;
}

.button {
    font-family: SF;
    background-color: #000000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 28px;
    border-radius: 8px;
    border: 2px solid #ffffff;
}