@font-face {
    font-family: SF;
    src: url(SF-Pro.otf);
}

h1 {
    font-family: SF;
    color: white;
    text-align: center;
}

h2 {
    font-family: SF;
    color: white;
    text-align: center;
}

body {
    font-family: SF;
    font-size: 28px;
    text-align: center;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    font-family: SF;
    font-size: 28px;
    color: white;
}

label {
    color: white;
}

canvas {
    max-height: 500px;
    max-width: 600px;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

.footer {
    font-family: SF;
    font-size: 16px;
    color: white;
}

.row {
    display: flex;
}

.column {
    flex: 33.33%;
}

.padding {
    padding-bottom: 20px;
}

.temp {
    font-size: 24px;
}

.button {
    font-family: SF;
    background-color: black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 28px;
    border-radius: 8px;
    border: 2px solid white;
    box-shadow: 0 9px #999;
}

.button:hover {
    background-color: black
}

.button:active {
    background-color: black;
    box-shadow: 0 5px #666;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
}

.button-small {
    font-family: SF;
    background-color: black;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 6px;
    border: 2px solid white;
    box-shadow: 0 9px #999;
    margin-bottom: 20px;
}

.button-small:hover {
    background-color: black
}

.button-small:active {
    background-color: black;
    box-shadow: 0 5px #666;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
}



.disable-dbl-tap-zoom {
  touch-action: manipulation;
}

