<!--<script language="javascript">-->
<!--        function onLoadFunction() {-->
<!--            -->
<!--            {% for produce in produce_list|tojson %}-->
<!--                {{ produce }}-->
<!--            {%  endfor %}-->
<!---->
<!--            var jsonData = '{{ json|tojson|safe }}';-->
<!--            var jsonOBJ = JSON.parse(jsonData);-->
<!---->
<!--            console.log(jsonData);-->
<!---->
<!---->
<!--            for (var i = 0; i < jsonOBJ.length; i++) {-->
<!--                str += jsonData[i] + "<br/>";-->
<!--                -->
<!--            }-->
<!--            console.log(str);-->
<!--      -->
<!--            document.getElementById("json").innerHTML = str;-->
<!---->
<!---->
<!--        }-->
<!--</script>-->


<!DOCTYPE html>
<html>
<!--<body onload="onLoadFunction()">-->
<body>
    
    {% for item in json %}
        {{ item }}
    {%  endfor %}


<p id="json"></p>

</body>
</html>
